PROYECTO INDIVIDUAL DATAMOVIES (DATA SCIENCE PT-01 SOY HENRY)

LIBRERIAS
Importar librerias necesarias

In [61]:
import pandas as pd
import numpy as np
import ast
import re

Ingesta de archivos CSV

In [62]:
creditsdf = pd.read_csv(r'C:\Users\crica\HENRY - DATA_SCIIENCE\Proyecto DataMovies\credits.csv')
moviesdf = pd.read_csv(r'C:\Users\crica\HENRY - DATA_SCIIENCE\Proyecto DataMovies\movies_dataset.csv')

C:\Users\crica\AppData\Local\Temp\ipykernel_8456\895700066.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  moviesdf = pd.read_csv(r'C:\Users\crica\HENRY - DATA_SCIIENCE\Proyecto DataMovies\movies_dataset.csv')

Visualizacion de datos.

In [63]:
creditsdf.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [64]:
moviesdf.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [65]:
moviesdf.shape

(45466, 24)

In [66]:
creditsdf.shape

(45476, 3)

unimos los archivos de datos

In [67]:
creditsdf["id"] = creditsdf["id"].astype(str)

df = pd.merge(moviesdf, creditsdf, on=['id', 'id'], how='inner')

In [68]:
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [69]:
df.shape

(45538, 26)

TRANSFORMACIONES

Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos

In [70]:
# Extraer el nombre de la colección de la columna "cast", el resultado se almacena en una nueva columna = "nombre_actor" y  Observamos la cantidad de valores unicos que tiene la columna nueva

pattern = r"'name': '([^']*)'"
df['nombre_actor'] = df['cast'].str.extract(pattern, flags=re.IGNORECASE)
df.nombre_actor.nunique()

18352

In [71]:
df[['cast','nombre_actor']]

                                                    cast      nombre_actor
0      [{'cast_id': 14, 'character': 'Woody (voice)',...         Tom Hanks
1      [{'cast_id': 1, 'character': 'Alan Parrish', '...    Robin Williams
2      [{'cast_id': 2, 'character': 'Max Goldman', 'c...    Walter Matthau
3      [{'cast_id': 1, 'character': "Savannah 'Vannah...   Whitney Houston
4      [{'cast_id': 1, 'character': 'George Banks', '...      Steve Martin
...                                                  ...               ...
45533  [{'cast_id': 0, 'character': '', 'credit_id': ...      Leila Hatami
45534  [{'cast_id': 1002, 'character': 'Sister Angela...      Angel Aquino
45535  [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...     Erika Eleniak
45536  [{'cast_id': 2, 'character': '', 'credit_id': ...  Iwan Mosschuchin
45537                                                 []               NaN

[45538 rows x 2 columns]

In [72]:
# Crear una nueva columna para los registros duplicados, dividiendo los valores de la columna "nombre_actor"
df['nombre_actor_individual'] = df['nombre_actor'].str.split(', ') 

# Duplicar los registros con el medoto explode
df = df.explode('nombre_actor_individual').reset_index(drop=True)

# Eliminar la columna original "nombre_actor"
df.drop('nombre_actor', axis=1, inplace=True)

# Esto resulta en una lista de nombres para cada película que tiene más de una colección asociada.
df.nombre_actor_individual.nunique()

18352

In [73]:
# Extraer el nombre de la colección de la columna "crew", el resultado se almacena en una nueva columna = "nombre_director" y  Observamos la cantidad de valores unicos que tiene la columna nueva

pattern = r"'name': '([^']*)'"
df['nombre_director'] = df['crew'].str.extract(pattern, flags=re.IGNORECASE)
df.nombre_director.nunique()

20622

In [74]:
df[['crew','nombre_director']]

                                                    crew   nombre_director
0      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...     John Lasseter
1      [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   Larry J. Franco
2      [{'credit_id': '52fe466a9251416c75077a89', 'de...     Howard Deutch
3      [{'credit_id': '52fe44779251416c91011acb', 'de...   Forest Whitaker
4      [{'credit_id': '52fe44959251416c75039ed7', 'de...    Alan Silvestri
...                                                  ...               ...
45560  [{'credit_id': '5894a97d925141426c00818c', 'de...  Hamid Nematollah
45561  [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...          Lav Diaz
45562  [{'credit_id': '52fe4776c3a368484e0c8387', 'de...    Mark L. Lester
45563  [{'credit_id': '533bccebc3a36844cf0011a7', 'de...  Yakov Protazanov
45564  [{'credit_id': '593e676c92514105b702e68e', 'de...     Daisy Asquith

[45565 rows x 2 columns]

In [75]:
# Crear una nueva columna para los registros duplicados, dividiendo los valores de la columna "nombre_director"
df['nombre_director_individual'] = df['nombre_director'].str.split(', ') 

# Duplicar los registros con el medoto explode
df = df.explode('nombre_director_individual').reset_index(drop=True)

# Eliminar la columna original "nombre_director"
df.drop('nombre_director', axis=1, inplace=True)

# Esto resulta en una lista de nombres para cada película que tiene más de una colección asociada.
df.nombre_director_individual.nunique()

20623

In [76]:
# Extraer el nombre de la colección de la columna "belongs_to_collection", el resultado se almacena en una nueva columna = "collection" y  Observamos la cantidad de valores unicos que tiene la columna nueva

pattern = r"'name': '([^']*)'"

df['collection'] = df['belongs_to_collection'].str.extract(pattern, flags=re.IGNORECASE)

df.collection.nunique()

1644

In [77]:
df[["belongs_to_collection",'collection']]

,belongs_to_collection,collection
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",Toy Story Collection
1,NaN,NaN
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Grumpy Old Men Collection
3,NaN,NaN
4,"{'id': 96871, 'name': 'Father of the Bride Col...",Father of the Bride Collection
...,...,...
45581,NaN,NaN
45582,NaN,NaN
45583,NaN,NaN
45584,NaN,NaN
45585,NaN,NaN

In [78]:
# Crear una nueva columna para los registros duplicados, dividiendo los valores de la columna "collection"
df['collection_individual'] = df['collection'].str.split(', ') 

# Duplicar los registros con el medoto explode
df = df.explode('collection_individual').reset_index(drop=True)

# Eliminar la columna original "collection"
df.drop('collection', axis=1, inplace=True)

# Esto resulta en una lista de nombres de colecciones para cada película que tiene más de una colección asociada.
df.collection_individual.nunique()

1667

In [79]:
# Convertir la cadena JSON en una lista de diccionarios
df['genres'] = df['genres'].apply(ast.literal_eval)

# Extraer los nombres de los géneros
def extract_genre_names(genres_list):
    genre_names = [genre['name'] for genre in genres_list]
    return ', '.join(genre_names)

# Aplicar la cada elemento de la columna "genres"
df['genre'] = df['genres'].apply(extract_genre_names)

# Imprimimos el DataFrame con la columna de géneros normalizados
df.head(3)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,cast,crew,nombre_actor_individual,nombre_director_individual,collection_individual,genre
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,"Animation, Comedy, Family"
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Robin Williams,Larry J. Franco,NaN,"Adventure, Fantasy, Family"
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Walter Matthau,Howard Deutch,Grumpy Old Men Collection,"Romance, Comedy"

In [80]:
df.genre.nunique()

4066

In [81]:
# Crear una nueva columna para los registros duplicados
df['genre_individual'] = df['genre'].str.split(', ')

# Duplicar los registros
df = df.explode('genre_individual').reset_index(drop=True)

# Eliminar la columna original "genre"
df.drop('genre', axis=1, inplace=True)

In [82]:
df.genre_individual.unique()

array(['Animation', 'Comedy', 'Family', 'Adventure', 'Fantasy', 'Romance',
       'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'History',
       'Science Fiction', 'Mystery', 'War', 'Foreign', '', 'Music',
       'Documentary', 'Western', 'TV Movie'], dtype=object)

In [83]:
print("Cantidad de generos:",df.genre_individual.nunique())

Cantidad de generos: 21

In [84]:
# Función para normalizar la columna "production_companies"
def normalize_production_companies(value):
    try:
        pattern = r"'name':\s+'(.*?)'"
        matches = re.findall(pattern, value)
        return ', '.join(matches)
    except (TypeError, AttributeError):
        return ''

# Aplicar función a cada elemento de la columna "production_companies"
df['company'] = df['production_companies'].apply(normalize_production_companies)

# Imprimir el DataFrame con la columna de compañías de producción normalizada
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,video,vote_average,vote_count,cast,crew,nombre_actor_individual,nombre_director_individual,collection_individual,genre_individual,company
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Animation,Pixar Animation Studios
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Comedy,Pixar Animation Studios

In [85]:
# Crear una nueva columna para los registros duplicados
df['company_individual'] = df['company'].str.split(', ')

# Duplicar los registros
df = df.explode('company_individual').reset_index(drop=True)

# Eliminar la columna original "company"
df.drop('company', axis=1, inplace=True)

In [86]:
df.company_individual.unique()

array(['Pixar Animation Studios', 'TriStar Pictures', 'Teitler Film', ...,
       'Pirie Productions', 'Sine Olivia', 'Yermoliev'], dtype=object)

In [87]:
print("Cantidad de compañias:",df.company_individual.nunique())

Cantidad de compañias: 23350

In [88]:
# Función para normalizar la columna "production_countries"
def normalize_production_countries(value):
    try:
        pattern = r"'name':\s+'(.*?)'"
        matches = re.findall(pattern, value)
        return ', '.join(matches)
    except (TypeError, AttributeError):
        return ''

# Aplicar la función a cada elemento de la columna "production_countries"
df['country'] = df['production_countries'].apply(normalize_production_countries)

# Imprimir el DataFrame con la columna de países de producción normalizada
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_average,vote_count,cast,crew,nombre_actor_individual,nombre_director_individual,collection_individual,genre_individual,company_individual,country
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Animation,Pixar Animation Studios,United States of America
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America

In [89]:
df.country.unique()

array(['United States of America', 'Germany, United States of America',
       'United Kingdom, United States of America', ...,
       'Poland, Czech Republic, Slovakia', 'Cuba, Germany, Spain',
       'Egypt, Italy, United States of America'], dtype=object)

In [90]:
df.country.nunique()

2387

In [91]:
# Crear una nueva columna para los registros duplicados
df['country_individual'] = df['country'].str.split(', ')

# Duplicar los registros
df = df.explode('country_individual').reset_index(drop=True)

# Eliminar la columna original "country"
df.drop('country', axis=1, inplace=True)

In [92]:
df.country_individual.unique()

array(['United States of America', 'Germany', 'United Kingdom', 'France',
       'Italy', 'Spain', 'China', 'Australia', 'South Africa', 'Canada',
       '', 'Switzerland', 'Belgium', 'Japan', 'Iran', 'Netherlands',
       'Hong Kong', 'Tunisia', 'Ireland', 'Dominican Republic', 'Croatia',
       'Russia', 'Macedonia', 'Austria', 'Taiwan', 'New Zealand',
       'Mexico', 'Poland', 'Peru', 'Cuba', 'Liechtenstein', 'Denmark',
       'Portugal', 'Finland', 'Sweden', 'Argentina', 'Iceland',
       'South Korea', 'Serbia', 'Hungary', 'Czech Republic', 'India',
       'Brazil', 'Greece', 'Congo', 'Senegal', 'Burkina Faso', 'Romania',
       'Philippines', 'Vietnam', 'Trinidad and Tobago', 'Bulgaria',
       'Chile', 'Norway', 'Kazakhstan', 'Algeria', 'Luxembourg',
       'Georgia', 'Ukraine', 'Botswana', 'Aruba', 'Israel', 'Turkey',
       'Ecuador', 'Lebanon', 'Morocco', 'Bosnia and Herzegovina',
       'Bahamas', 'Malaysia', 'Bhutan', 'Jamaica', 'Pakistan', 'Nepal',
       'Thailand', 'Namibia', 'Cameroon', 'Colombia', 'Czechoslovakia',
       'Uruguay', 'Slovenia', 'Libyan Arab Jamahiriya', 'Puerto Rico',
       'Soviet Union', 'East Germany', 'Singapore', 'Afghanistan',
       'Malta', 'Panama', 'Egypt', 'Zimbabwe', 'Tajikistan', 'Uzbekistan',
       'Costa Rica', 'Kuwait', 'Martinique', 'Ghana', 'Armenia',
       'Indonesia', 'Mongolia', 'Bolivia', 'Monaco', 'Iraq', 'Slovakia',
       'Serbia and Montenegro', 'Venezuela', 'Lithuania', 'Rwanda',
       'Palestinian Territory', 'Chad', 'Paraguay', 'Qatar', 'Estonia',
       'Macao', 'Mali', 'United States Minor Outlying Islands', 'Latvia',
       'United Arab Emirates', 'Azerbaijan', 'Cayman Islands',
       'Nicaragua', 'Liberia', 'Yugoslavia', 'Montenegro', 'Angola',
       'Belarus', 'Cambodia', 'Mauritania', 'Cyprus', 'Bangladesh',
       'Syrian Arab Republic', 'Kyrgyz Republic', 'Albania', 'Tanzania',
       'North Korea', 'Kenya', 'Jordan', 'Uganda', 'Saudi Arabia',
       'Somalia', 'Guatemala', 'Madagascar', 'Ethiopia', 'Sri Lanka',
       'Papua New Guinea', 'Nigeria', 'French Polynesia',
       'Netherlands Antilles', 'Myanmar', 'Bermuda', 'El Salvador',
       'French Southern Territories', 'Samoa', 'Moldova', 'Barbados',
       'Antarctica', 'Gibraltar', 'Brunei Darussalam', 'Honduras',
       'Guinea'], dtype=object)

In [93]:
print("Cantidad de paises:",df.country_individual.nunique())

Cantidad de paises: 159

In [94]:
# Función para normalizar la columna "spoken_languages"
def normalize_spoken_languages(value):
    try:
        pattern = r"'name':\s+'(.*?)'"
        matches = re.findall(pattern, value)
        return ', '.join(matches)
    except (TypeError, AttributeError):
        return ''

# Aplicar la función a cada elemento de la columna "spoken_languages"
df['spoken_language'] = df['spoken_languages'].apply(normalize_spoken_languages)

# Imprimir el DataFrame con la columna de lenguajes normalizada
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,vote_count,cast,crew,nombre_actor_individual,nombre_director_individual,collection_individual,genre_individual,company_individual,country_individual,spoken_language
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English
1,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English

In [95]:
df.spoken_language.unique()

array(['English', 'English, Français', 'English, Español', ...,
       'svenska, Deutsch', 'العربية, Polski', 'Fulfulde, English'],
      dtype=object)

In [96]:
df.spoken_language.nunique()

1842

In [97]:
# Crear una nueva columna para los registros duplicados
df['language_individual'] = df['spoken_language'].str.split(', ')

# Duplicar los registros
df = df.explode('language_individual').reset_index(drop=True)

# Eliminar la columna original "spoken_language"
df.drop('spoken_language', axis=1, inplace=True)

In [98]:
df.language_individual.unique()

array(['English', 'Français', 'Español', 'Deutsch', 'Pусский', 'Latin',
       'Nederlands', '广州话 / 廣州話', '普通话', 'Magyar', '', 'shqip',
       'Italiano', '한국어/조선말', 'فارسی', 'Dansk', '日本語', 'العربية',
       'Hrvatski', 'Bosanski', 'Română', 'Bahasa indonesia',
       'Bahasa melayu', 'svenska', 'עִבְרִית', 'Český', 'Polski',
       'Gaeilge', 'Norsk', 'Slovenčina', 'Tiếng Việt', 'Português',
       'हिन्दी', 'Català', 'Íslenska', 'Afrikaans', 'Srpski', 'বাংলা',
       'Wolof', 'Cymraeg', 'ภาษาไทย', 'Latviešu', 'Kiswahili',
       'български език', 'ελληνικά', 'Türkçe', 'suomi', 'Esperanto',
       'Український', 'ქართული', 'Bokmål', 'No Language', 'euskera',
       'Azərbaycan', 'Malti', 'اردو', 'isiZulu', 'Bamanankan', 'پښتو',
       'Somali', 'ਪੰਜਾਬੀ', 'беларуская мова', 'தமிழ்', 'Galego',
       'Kinyarwanda', 'қазақ', 'Eesti', 'Lietuvi\\x9akai', 'Slovenščina',
       'తెలుగు', 'Fulfulde', '??????', '?????', 'ozbek', 'Hausa'],
      dtype=object)

In [99]:
print("Cantidad de lenguajes:",df.language_individual.nunique())

Cantidad de lenguajes: 75

In [100]:
df.drop(columns=['belongs_to_collection', 'genres', 'production_companies', 'production_countries', 'spoken_languages'], inplace = True)
df.head(3)

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,vote_count,cast,crew,nombre_actor_individual,nombre_director_individual,collection_individual,genre_individual,company_individual,country_individual,language_individual
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English
1,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English
2,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",Tom Hanks,John Lasseter,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English

In [101]:
df.shape

(422408, 28)

In [102]:
df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'cast', 'crew',
       'nombre_actor_individual', 'nombre_director_individual',
       'collection_individual', 'genre_individual', 'company_individual',
       'country_individual', 'language_individual'],
      dtype='object')

In [103]:
# Renombrar columnas
df.rename(columns={ 'collection_individual': 'collection', 
                    'genre_individual': 'genres',
                    'company_individual': 'company',
                    'country_individual': 'country',
                    'nombre_actor_individual': 'nombre_actor',
                    'nombre_director_individual': 'nombre_director',                    'language_individual': 'language',
}, inplace=True)
df.columns

Index(['adult', 'budget', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'cast', 'crew', 'nombre_actor',
       'nombre_director', 'collection', 'genres', 'company', 'country',
       'language'],
      dtype='object')

Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0

In [104]:
df['revenue'].fillna(0, inplace=True)
df['budget'].fillna(0, inplace=True)
print('Nulos en revenue',df.revenue.isna().sum())
print('Nulos en budget',df.revenue.isna().sum())

Nulos en revenue 0
Nulos en budget 0

Los valores nulos del campo release date deben eliminarse

In [105]:
df = df.dropna(subset = ['release_date'])

De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno

In [106]:
df['release_date'] = pd.to_datetime(df['release_date']).dt.strftime('%Y-%m-%d')

df['release_date'] = pd.to_datetime(df['release_date'])
df['release_year']=df['release_date'].dt.year

df[['release_date','release_year']].tail()

       release_date  release_year
422403   2003-08-01          2003
422404   2003-08-01          2003
422405   2003-08-01          2003
422406   1917-10-21          1917
422407   2017-06-09          2017

Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0

In [107]:
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')

df['return'] = df['revenue'] / df['budget']
df['return'].fillna(0, inplace=True)
df['return']

0         12.451801
1         12.451801
2         12.451801
3          4.043035
4          4.043035
            ...
422403     0.000000
422404     0.000000
422405     0.000000
422406     0.000000
422407     0.000000
Name: return, Length: 422229, dtype: float64

In [108]:
df['return'].isna().sum()

0

In [109]:
df[['revenue','budget','return']]

            revenue    budget     return
0       373554033.0  30000000  12.451801
1       373554033.0  30000000  12.451801
2       373554033.0  30000000  12.451801
3       262797249.0  65000000   4.043035
4       262797249.0  65000000   4.043035
...             ...       ...        ...
422403          0.0         0   0.000000
422404          0.0         0   0.000000
422405          0.0         0   0.000000
422406          0.0         0   0.000000
422407          0.0         0   0.000000

[422229 rows x 3 columns]

Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage

In [110]:
df.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage', 'cast', 'crew'], inplace = True)
df.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'nombre_actor', 'nombre_director',
       'collection', 'genres', 'company', 'country', 'language',
       'release_year', 'return'],
      dtype='object')

In [111]:
df.head(3)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_count,nombre_actor,nombre_director,collection,genres,company,country,language,release_year,return
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,5415.0,Tom Hanks,John Lasseter,Toy Story Collection,Animation,Pixar Animation Studios,United States of America,English,1995,12.451801
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,5415.0,Tom Hanks,John Lasseter,Toy Story Collection,Comedy,Pixar Animation Studios,United States of America,English,1995,12.451801
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,5415.0,Tom Hanks,John Lasseter,Toy Story Collection,Family,Pixar Animation Studios,United States of America,English,1995,12.451801

In [112]:
print("Filas y columnas:",df.shape)
df.info()

Filas y columnas: (422229, 22)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 422229 entries, 0 to 422407
Data columns (total 22 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   budget             422229 non-null  int64
 1   id                 422229 non-null  object
 2   original_language  422133 non-null  object
 3   overview           419741 non-null  object
 4   popularity         422229 non-null  object
 5   release_date       422229 non-null  datetime64[ns]
 6   revenue            422229 non-null  float64
 7   runtime            421685 non-null  float64
 8   status             422083 non-null  object
 9   tagline            228180 non-null  object
 10  title              422229 non-null  object
 11  vote_average       422229 non-null  float64
 12  vote_count         422229 non-null  float64
 13  nombre_actor       417096 non-null  object
 14  nombre_director    420946 non-null  object
 15  collection         53837 non-null   object
 16  genres             422229 non-null  object
 17  company            422229 non-null  object
 18  country            422229 non-null  object
 19  language           422229 non-null  object
 20  release_year       422229 non-null  int64
 21  return             422229 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(14)
memory usage: 74.1+ MB

In [128]:
df[['title','vote_average','vote_count','nombre_actor','nombre_director']].head(8
)

       title  vote_average  vote_count    nombre_actor  nombre_director
0  Toy Story           7.7      5415.0       Tom Hanks    John Lasseter
1  Toy Story           7.7      5415.0       Tom Hanks    John Lasseter
2  Toy Story           7.7      5415.0       Tom Hanks    John Lasseter
3    Jumanji           6.9      2413.0  Robin Williams  Larry J. Franco
4    Jumanji           6.9      2413.0  Robin Williams  Larry J. Franco
5    Jumanji           6.9      2413.0  Robin Williams  Larry J. Franco
6    Jumanji           6.9      2413.0  Robin Williams  Larry J. Franco
7    Jumanji           6.9      2413.0  Robin Williams  Larry J. Franco

In [125]:
df.to_csv('movies.csv', index=False)